{% extends 'mailing_list/base.html' %}
{% block content%}
{%load mediapath%}
   <div class="card-body">
      <a href="{% url 'blog:blog_list'%}" class="btn btn-outline-primary mb-3">Назад</a>
      <img src="{{ object.img|mediapath }}" class="card-img-top" alt="Винни-Пух">

      <h1 class="card-title">{{ object.header }}</h1>

      <div class="card-text">
        <h4>Заголовок</h4>
        <p class="fs-4">{{ object.header }}</p>

        <h4>Содержание</h4>
        <p class="fs-4">{{ object.content }}</p>
      </div>
    </div>
{% endblock %}




